{{!-- {{#if loggedIn}} --}}
    <div class="card w-75 mx-auto mt-3 bloo2" id="homeCard">
        <div class="userPitch">
            <p class="mx-4 mt-3">Hungry but dont know what to eat? Need to order lunch but have no time to decide? Well we have the perfect solution for you!</p>
        </div>
        <div class="pbor"></div>
            <h1 class="text-center my-2">Try</h1>
            <h1 class="text-center merckScript">What's for Dinner?</h1>
            <h1 class="text-center my-2">Absolutely Free!</h1>
        <div class="pbor"></div>
        
        {{!-- <div class="mx-auto my-auto">
            <a href="/api/test/allmeals"><button type="button" class="btn btn-secondary mx-auto" id="genMeal">GET ALL MEALS</button></a>
        </div>
        <div class="mx-auto my-auto">
            <a href="/api/test/allplans"><button type="button" class="btn btn-secondary mx-auto" id="genMeal">VIEW ALL PLANS</button></a>
        </div>
        <div class="mx-auto my-auto">
            <a href="/api/test/userplans"><button type="button" class="btn btn-secondary mx-auto" id="genMeal">VIEW USER PLANS</button></a>
        </div> --}}
        <div>
            <h2>Popular Meals</h2>
            {{#each meals as |meal|}}
            <li>{{meal.name}}</li>
            {{/each}}
        </div>
        <div>
            <h2>Popular Mealplans</h2>
            {{#each plans as |plan|}}
            <li>{{plan.name}}</li>
            {{/each}}
        </div>
    </div>
{{!-- {{#else}}
    <h1>Log in!</h1>
{{/if}} --}}