<div class="col-sm-9 text-center mx-auto h-100">
  <div class="card h-75 mt-3 w-50 mx-auto shadow-lg" id="loginCard">
      <div>
          <h1 class="py-5">Login</h1>
      </div>
      <form class="form login-form">
      <div class="pb-5 m-4 cardbg">
      <label for="email-login" class="form-label">Email:</label>
      <input class="form-control text-center shadow w-75 mx-auto" type="text" id="email-login" placeholder="name123@example.com"> <!-- email selector id here-->
      </div>
      <div class="pb-5 m-4 cardbg">
      <label for="password-login" class="form-label">Password:</label>
      <input class="form-control text-center shadow w-75 mx-auto" type="password" id="password-login"> <!--password selector here-->
      </div>
      <div class="m-3">
      <button class="btn btn-primary m-3 shadow" type="submit" id="loginbtn">Login</button>
      </div>
      </form>
  </div>
</div>


<script src="./js/login.js"></script>