<div class="col-sm-9 mx-auto h-100 text-center">
    <div class="card mt-3 w-50 mx-auto shadow-lg" id="registerCard">
        <div>
            <h1 class="py-5">Register</h1>
        </div>
        <form class="form signup-form">
            <div class="pb-3 m-4 cardbg">
                <label for="username-signup" class="form-label">Name</label>
                <input class="form-control text-center shadow w-75 mx-auto" type="text" id="username-signup">
            </div>
            <div class="pb-3 m-4 cardbg">
                <label for="email-signup" class="form-label">Email</label>
                <input class="form-control text-center shadow w-75 mx-auto"type="text" id="email-signup">
            </div>
            <div class="pb-3 m-4 cardbg">
                <label for="password-signup" class="form-label">Password</label>
                <input class="form-control text-center shadow w-75 mx-auto" type="password" id="password-signup">
            </div>
            <div class="pb-3 m-4">
                <button class="btn btn-primary shadow" type="submit">Register</button>
            </div>
        </form>      
    </div>
</div>

<script src="./js/register.js"></script>